* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}


body {
margin-top: 60px;

}

/*------------------NAVBAR------------------*/

.navTopContainer {
 	padding: 0% 10%;
 	width: 100%;
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-box-pack: center;
 	    -ms-flex-pack: center;
 	        justify-content: center;
 	background-color: #2c6ccc;
 	position: fixed;
 	top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

nav {
     position: absolute;
     position: relative;
    
    height: 53px;
    
	width: 100%;
	background-color: #2c6ccc;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;	
}

#brand {
	height: 100%;
}

nav p a{
	text-decoration: none;
	color: #fff;
	float: left;
	line-height: 1.5;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-family:Poppins;
	font-weight: 400;
  	font-size: 20px;
	height: 100%;
}

.desktopView {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	width: auto;
}


.active {

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

}

nav ul li  {
	list-style: none;
	height: 100%;
}


nav ul li a {
	display: block;
	font-family:Poppins;
	font-size: 16px;
	color: #fff;
	padding: 14px 15px;
	text-decoration: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav ul li a:hover{
	
	color: #fff;
}

.hide {
	display: none;
    padding: 0;
	border: none;
}

nav ul li:hover {
	background-color: #154c99;
}

nav ul li ul {	
	border-radius: 0px 0px 10px 10px;
}

nav ul li ul li {
	width: auto;
	display: block;
}

nav ul li ul li a{
	padding: 8px  14px;
	text-align: center;
	background-color: #2c6ccc;
	font-size: 15px;
	display: block;
}

nav ul li ul li a:hover {
	background-color: #154c99;
}

nav ul li a i {
	font-size: 12px;
}

#under65 {
	width: 125px;
	height: 100%;
}

.under65List {
	width: 200px;
}

#medicare {
	width: 130px;
	height: 100%;
}

.medicareList {
	width: 250px;
}

#moreInfo {
	width: 130px;
	height: 100%;
}

.moreInfoList {
	width: 130px;
}





.toggle {
	width: 100%;
	padding: 10px 10px;
	background-color: #2c6ccc;
	text-align: right;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	color: #fff;
	font-size: 30px;
	display: none;
}

.show {
	display: block;
	background-color: #154c99;
 	border-radius: 0px 0px 10px 10px;
}


/*  - - - --- - -- - -- - - - - -NavBar Responsive Design --- - - - - - - - - - - - - - -- - */

@media only screen and (max-width: 1200px) {

	.navTopContainer {
	 	padding: 0% 5%;
	 }

	 nav p a {
	 	font-size: 18px;
	 }

	nav ul li a, nav ul li ul li a{
	  	font-size: 15px;
		height: 100%;
	}

	nav ul li ul li {
		width: 100%;
	}

	nav ul li ul li a{
		font-size: 14px;
		width: 100%;
	}

	nav {
		padding: 0;
	}

	#under65 {
		width: 119px;
	}

	.under65List {
		width: 180px;
	}

	#medicare {
		width: 125px;
	}

	.medicareList {
		width: 235px;
	}

	#moreInfo {
		width: 125px;
		height: 100%;
	}

	.moreInfoList {
		width: 125px;
		height: 100%;
	}

}

@media only screen and (max-width: 1000px) {
	.navTopContainer {
	 	padding: 0% 2%;
	 }

	 nav ul li a {
		padding: 10px 14px;
	}

	#under65 {
		width: 110px;
	}

	.under65List {
		width: 180px;
	}

	#medicare {
		width: 110px;
	}

	.medicareList {
		width: 240px;
	}

	#moreInfo {
		width: 110px;
	}

	.moreInfoList {
		width: 110px;
	}
}


@media only screen and (max-width: 900px) {

	.toggle {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 100%;
		
	}

	.underlineNavTop {
		border-bottom: 1px white solid;
	}

	.toggle a {
		text-decoration: none;
		color: #fff;
		float: left;
		line-height: 1.5;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		font-family:Poppins;
		font-weight: 400;
	  	font-size: 18px;
		height: 100%;
	}

	.toggle i {
		font-size: 22px;
	}



	nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		height: auto;
		width: 100%;

	}

	nav ul li {
		display: flex;
		justify-content: center;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}


	nav ul li a {
		font-size: 17px;
		background-color: #2c6ccc;
		/*width: 100%;*/
		text-align: center;

	}

	nav ul li ul li a {
		text-align: center;
	}

	nav ul li a:hover {
		background-color: #2c6ccc;
	}

	.desktopView
	{
		display: none;
	}

	#brand {
		display: none;
	}


	#under65 {
		width: 100%;
		height: 100%;
	}

	.under65List {
		width: 100%;

	}

	#medicare {
		width: 100%;
		height: 100%;
	}

	.medicareList {
		width: 100%;
	}

	#moreInfo {
		width: 100%;
		height: 100%;
	}

	.moreInfoList {
		width: 100%;
	}

	.active {
		padding: 0px 40px;
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;

		        justify-content: center;

		        align-items: center;
		height: auto;
	}

	nav ul li {
		background-color: #2c6ccc;
	}

	nav ul li:hover {
		background-color: #2c6ccc;
	}

	nav ul li ul li a{
		font-size: 15px;
		text-align: left;
	}

	.under65List a:before , .medicareList a:before, .moreInfoList a:before {
		margin-left: 10px;
		-webkit-text-decoration:;
		        text-decoration:;
		list-style-type: square; 
		content: "❯ ";
  		text-decoration: none;
	}
}

@media only screen and (max-width: 400px) {

	
	.toggle a {

	  	font-size: 18px;

	}

	.toggle i {
		font-size: 18px;
	}

	.active {
		padding: 0px 10px;
	}

	nav ul li a {
		font-size: 16px;	
	}


	nav ul li ul li a{
		font-size: 13px;
	}

}


/* - - - - - - - - -- - Main Content - -- -- - - - - - -- */

h1,h2,h3,h4,h5,h6,a{
  font-family:Poppins;
  color: #444444;
}

h4 {
	font-size: 18px;
	margin: 10px 0px;
	line-height: 1.1;
	font-weight: 500;
}

a {
	text-decoration: none;
}

h3 {
	line-height: 1.6;
	font-size: 24px;
	font-weight: 500;
	margin-top: 15px;
    margin-bottom: 5px;
}

.h2-blue {
	color: #2c6ccc;
}

h2 {
	    margin-top: 15px;
    margin-bottom: 5px;
	font-size: 30px;
	font-weight: bold;

}

h2 a:hover {
	text-decoration: none;
	color: #2c6ccc;
}

.imgContent {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 10px 0px 20px 0px;
	/*width: 80%;*/
}

.eachImage {
	width: 100%;
	height: 100%;
}

.tenTypes {
	font-family:Poppins;
	color: #444444;
	cursor: pointer;
	font-size: 19px;
}

.tenTypes:hover {
	font-size: 20px;
	text-decoration: underline;
}

.tenTypesContainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 100%;
}

.tenTypesTextBox {
	width: 90%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 20px 40px;
	background-color: #e0ebfc;
	-ms-align-self: center;
	-ms-flex-item-align: center;
	    align-self: center;
	display: none;
	-webkit-transition: display 2s ease-in;
	     -o-transition: display 2s ease-in;
	        transition: display 2s ease-in;
}



.tenTypesText {
	color: #6d6d6d;
}
.open {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition: display 2s ease-in;
	     -o-transition: display 2s ease-in;
	        transition: display 2s ease-in;
}

.resourcesLinks {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.resourcesLink {

}

.resourcesLink:hover {
	text-decoration: none;
	font-size: 25px;
	color: #2c6ccc;
}

p{
  font-family:Roboto;
  font-weight: 400;
  font-size: 16px;
  color: #6694c4;
  color: #9d9fa0;
  color: #86888c;
  color: #6d6d6d;
  text-indent: 20px;
  /*letter-spacing: 0.5px;*/
  line-height: 1.6;
  text-align: justify;
  margin: 0 0 10px;
}


.noIndent {
	text-indent: 0px;
	
}
.smallText {
	font-size: 14.5px;
}

.h6Text {
	font-size: 17px;
}


.mainContent {
	padding: 10px 50px;
}

hr {
	margin-top: 40px;
	background-color: #86888c;
	height: 2px;
	width: 100%;
	opacity: 0.5;
}

#contentContainer {
	width: 900px;
	padding: 10px 15px 30px 15px;
	background-color: rgba(226, 226, 226, 0.2);
	align-self: center;
}


.showcase-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

#showcase {
	/*margin: 10px 0px;*/
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.showcase-btn {
	color: #07ba52;
	font-weight: 500;
	border: rgba(8, 178, 79, 0.8) solid 1px;
	color: #2c6ccc;
	
	border: rgba(44, 108, 204, 0.8) solid 1px;
	/*transition: background-color 0.3s;*/
}

.showcase-btn:hover {
	background-color: rgba(44, 108, 204, 0.8);
	color: white;
	border: white solid 1px;

}


#showcase-left-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 15px;
	/*display: block;*/
}

.showcase-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 15px;
}

/*  - - - --- - -- - -- - - - - -Main Content Responsive Design --- - - - - - - - - - - - - - -- - */

@media only screen and (max-width: 1024px) {

	#contentContainer {
		width: 85%;
		align-self: center;
	}

	div h2 {
		font-size: 25px;
	}

	h3 {
		font-size: 20px;
		margin-top: 5px;
	}

	.tenTypes {
		font-size: 17px;
	}

	.tenTypes:hover {
		font-size: 18px;
	}

	p {
		font-size: 15px;
	}

	p i {
		font-size: 13px;
	}
}

@media only screen and (max-width: 850px) {
	.mainContent {
		padding: 10px 40px;
	}
}

@media only screen and (max-width: 768px) {

	.mainContent {
		padding: 10px 30px;
	}

	.tenTypeTextBox {
		padding: 15px 30px;
	}

	div h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 16px;
	}

	h4 {
		font-size: 15px;
	}

	p {
		font-size: 14px;
	}

	.smallText {
		font-size: 13px;
	}

	p i {
		font-size: 10px;
	}

	.tenTypes {
		font-size: 16px;
	}

	.tenTypes:hover {
		font-size: 17px;
	}

	
}

@media only screen and (max-width: 600px) {

	.mainContent {
		padding: 10px 20px;
	}
	
	.tenTypeTextBox {
		padding: 10px 25px;
	}
	

	div h2 {
		font-size: 18px;
	}

	h3 {
		font-size: 14px;
		font-weight: 600;
	}

	h4 {
		font-size: 14px;
	}

	p {
		font-size: 13px;
	}

	.smallText {
		font-size: 12px;
	}

	.tenTypes {
		font-size: 15px;
		margin-bottom: 5px;
	}

	.tenTypes:hover {
		font-size: 16px;
	}
}

@media only screen and (max-width: 500px) {
	#contentContainer {
		width: 90%;
		margin: 0 auto;
	}

	.mainContent {
		padding: 5px 15px;
	}

	
	.tenTypeTextBox {
		padding: 10px 20px;
	}

	div h2 {
		font-size: 15px;
		margin-top: 5px;
	}

	h3 {
		font-size: 11px;
	}

	h4 {
		font-size: 13px;
	}

	p {
		font-size: 12px;
	}

	.smallText {
		font-size: 11px;
	}

	p i {
		font-size: 8px;
	}

	.tenTypes {
		font-size: 12px;
		margin-bottom: 2px;
		text-indent: 0px;
	}

	.tenTypes:hover {
		font-size: 13px;
	}
}


/*  -- - - - -- -- - - - -- - -- --  FOOTER -- - - - -- -  -- -- - - - -- -  -- */


.col-50 {
	width: 50%;
}

.contactContainer {
	margin-top: 10px;
	padding: 20px 0px;
		  background-blend-mode: lighten;
		      background-color: rgba(219, 219, 219, 0.5);
		      background-color: rgba(44, 108, 204, 0.1);
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;
}

.contactFooterContainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 70%;
	
}


.formContainer {
	width: 100%;
	height: 100%;
}

form {
	height: 200px;
	width: 350px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}



input, textarea {
	border: #abc3e8 solid 1px !important;
	color: #2c6ccc;
	/*margin: 10px;*/
}

input:focus, textarea:focus {
	border: rgba(44, 108, 204, 0.6) solid 1px !important;
	color: #2c6ccc;
}

.form-control::-webkit-input-placeholder { color: rgba(44, 108, 204, 0.5); }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: rgba(44, 108, 204, 0.5); }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: rgba(44, 108, 204, 0.5); }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: rgba(44, 108, 204, 0.5); }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: rgba(44, 108, 204, 0.5); }  /* Microsoft Edge */


.form-control {
	padding: 5px 8px;
	color: #2c6ccc;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	    height: 34px;
	    padding: 6px 12px;
	    font-size: 14px;
	    line-height: 1.42857143;

	    background-color: #fff;
	    background-image: none;

	    border-radius: 4px;

	        /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
	    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}




.btn-submit {
		background-color: rgba(44, 108, 204, 0.9);
		color: white;
		border: white 1px solid;
		font-size: 16px;
		padding: 5px 10px;
		-ms-flex-item-align: end;
		    align-self: flex-end;
		width: 30%;
		border-radius: 5px;
		text-align: center;
		cursor: pointer;
}

.btn-submit:hover {
		background-color: rgba(44, 108, 204, 1);
		color: white;
		font-size: 17px;
}




.contactInfo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background-color: #878787;
	background-color: rgba(44, 108, 204, 0.9);
	width: 600px;
	/*height: 250px;*/
	color: #fff;
	border-radius: 20px;
	padding: 30px;

}


#h3Contact {
	margin-top: 0px;
	margin-bottom: 10px;
	color: #fff;
}

.contactContainer p {
	color: #fff;
	margin-bottom: 15px;
	font-size: 15px;
	font-family:Poppins;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	text-align: center;
	width: 100%;
}

textarea.form-control {
	height: 80px;
}

.width100 {
	width: 100%;
}

i {
	font-size: 18px;
}

.eachContactInfo {
	align-self: center;
}



#contactName {
	width: 80%;
	-ms-flex-item-align: start;
	    align-self: flex-start;
}
#contactPhone {
	width: 80%;
	-ms-flex-item-align: end;
	    align-self: flex-end;
}

#contactEmail {
	width: 90%;
}
#contactMessage {
	width: 90%;
}

label {
	color: #2c6ccc;
	text-align: right;
	clear: both;
    float:left;
    margin-right:  10px;
    margin-bottom: 0;
    margin-top: 7px;
}


input {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: auto;
	margin: 0;
}

.form-group {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}


footer{
  padding: 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#copyrightText {
	color: #9d9fa0;
	margin: 0px;
}



/*  - - - --- - -- - -- - - - - - FOOTER Responsive Design --- - - - - - - - - - - - - - -- - */


@media only screen and (max-width: 1200px) {

	form {
		width: 310px;
	}
}

@media only screen and (max-width: 1000px) {

	.flexColumn {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.formContainer {
		align-self: center;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		margin: 20px 0px;
	}

	form {
		height: 250px;
		width: 60%;
	}

	.contactInfo {
		width: 60%;
	}

	.contactContainer p {
		font-size: 15px;
	}

}


@media only screen and (max-width: 780px) {

	.formContainer {
		margin: 10px 0px;
	}

	form {
		height: 200px;
		width: 70%;
	}

	.contactInfo {
		width: 70%;
		padding: 20px;
	}

	.contactContainer p {
		font-size: 15px;
	}

}

@media only screen and (max-width: 620px) {
	form {
		height: 200px;
		width: 100%;
	}

	.contactInfo {
		width: 100%;
		padding: 20px;
	}
}

@media only screen and (max-width: 430px) {

	.form-control, #copyrightText {
		font-size: 11px;
	}

	.btn-submit {
		font-size: 13px;
	}

	.contactInfo {
		padding: 10px;
	} 

	#h3Contact {
		font-size: 14px;
	}

	.contactContainer p, .contactContainer i {
		font-size: 11px;
	}


}